<form>
  <input type="text" id="login_username" placeholder="USERNAME"/>
  <input type="password" id="login_password" placeholder="PASSWORD"/>
  <button id="login_button">LOGIN</button>
</form>


<script src="/login.js"></script>