<form>
  <p>LOGIN:</p>
  <input type="text" id="login_username" placeholder="USERNAME"/>
  <input type="password" id="login_password" placeholder="PASSWORD"/>
  <button id="login_button">LOGIN</button>
</form>

<form>
  <p>CREATE ACCOUNT:</p>
  <input type="text" id="create_user_username" placeholder="USERNAME"/>
  <input type="password" id="create_user_password" placeholder="PASSWORD"/>
  <input type="password" id="create_user_confirm_password" placeholder="CONFIRM PASSWORD"/>
  <button id="create_user_button">SIGN UP</button>
</form>


<script src="/login.js"></script>